.download {
    .container {
        padding: 15px;
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .download__title {
            font-family: 'Raleway';
            font-weight: 500;
            font-size: calc(18px + 8 * (100vw/1200));
            line-height: calc(20px + 8 * (100vw/1200));
            text-align: center;
            color: #000000;
            margin: 0 0 calc(20px + 12 * (100vw/1200)) 0;
        }
        .download__text {
            font-family: 'Raleway';
            font-weight: 700;
            font-size: calc(13px + 2 * (100vw/1200));
            line-height: calc(14px + 2 * (100vw/1200));
            text-align: center;
            text-transform: uppercase;
            color: #000000;
            margin: 0 0 calc(11px + 15 * (100vw/1200)) 0;
        }
    
        .download__box-button {
            width: 100%;
            height: calc(60px + 18 * (100vw/1200));
            position: relative;
            margin: 0 0 calc(45px + 15 * (100vw/1200)) 0;
            .download__button {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                top: 0;
                width: calc(280px + 100 * (100vw/1200));
                height: calc(60px + 18 * (100vw/1200));
                background: rgba(255, 67, 67, 1);
                font-family: 'Raleway';                
                font-weight: 900;
                font-size: calc(14px + 10 * (100vw/1200));
                line-height: calc(16px + 12 * (100vw/1200));
                text-transform: uppercase;
                color: #ffffff;
                transition: all 0.3s ease-out;
        
                &:hover {
                    background: #E71414;
                }
        
                &:active {
                    background: #FF4343;
                    box-shadow: 4px 4px 30px #FF4343;
                }
            }
        }
    }
}
@media (min-width: 1921px) {
    .download {
        .container {
            max-width: 62.5%;
        }
    }
}











